<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spiral disc</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body id="spiral-disc">
		<header class="navbar navbar header-color">
			<div class="container">
				<span>
			      <a class="" href="#"><img src="img/logo.png" alt="" class="logo"></a>
			    </span>
			    <ul class="nav pull-right nav-pills">
			      <li><a href="" class="nav">こんにちは、ゲスト様</a></li>
			      <li><a href="" class="nav">ようこそ、username様</a></li>
			      <li><a href="" class="nav">Sign in</a></li>
			      <li><a href="" class="nav">Sign up</a></li>
			      <li><a href="" class="nav">My page</a></li>
			      <li><a href="" class="nav fa fa-cart-plus">Cart</a></li>
			      <li><a href="" class="nav">Log out</a></li>
			    </ul>
			</div>
			<div class="container clearfix">
			<div class="input-group input-group-sm search pull-right">
				<input type="text" class="form-control" placeholder="検索キーワード">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default">検索</button>
				</span>
			</div>
			</div>
		</header>
		<div id="body" class="contents clearfix">
		<!-- ジャンル部分 -->
		    <section class="leftcontent">
				<section id="genrelist">
					<h2>ジャンル</h2>
					<ul class="lists">
						<li><a href="#">J-Pop</a></li>
						<li><a href="#">K-Pop</a></li>
						<li><a href="#">R&B/ソウル</a></li>
						<li><a href="#">ロック</a></li>
						<li><a href="#">ジャズ</a></li>
						<li><a href="#">クラシック</a></li>
						<li><a href="#">レゲエ</a></li>
						<li><a href="#">ブルース</a></li>
						<li><a href="#">歌謡曲</a></li>
						<li><a href="#">アニメ</a></li>
					</ul>
				</section>
		    </section>
		    <!-- 商品一覧 -->
		    <div id="rightcontent">
				<article>
					<section id="productlist">
						<h1>商品一覧</h1>
					</section>
					<section id="product">
						<div id="productlistblock" class="clearfix">
							<ul id="productlists" class="clearfix">
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image1.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">simon werner a disparu</p>
											<p class="artists">sonic youth</p>
											<p class="price">¥1,000+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
								<li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li><li>
									<div class="listinner">
										<p class="thumb">
											<a href="#">
												<img src="img/image2.jpg">
											</a>
										</p>
										<div>
											<p class="musicname">wave</p>
											<p class="artists">antonio carlos jobim</p>
											<p class="price">¥1,200+税</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</article>
		    </div>
		</div>
	</body>
	<footer class="container-fluid">
			<div class="container">
				<ul class="list-inline">
					<li><a href="" title="" class=""> About</a></li>
					<li><a href="" title="" class=""> 利用規約</a></li>
					<li><a href="" title="" class=""> お問い合わせ</a></li>
				</ul>
			</div>
			<small><a class="" href="#"><img src="img/logo.png" alt="" class="logo"></a></small>
	</footer>
</html>