	<div style=" padding-top: 80px" class="container clearfix">
		<div class="input-group input-group-sm search pull-right">
			<span class="input-group-addon">ユーザー名</span>
			<input type="text" class="form-control" placeholder="">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default">検索</button>
			</span>
		</div>
	</div>
	<div class="panel panel-default container user-list" style="background-color: #f5f5f5;">
		<div class="panel-heading">
			<h3>ユーザ一覧</h3>
		</div>
		<div class="panel-body" style="background-color: white;">
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-3">名前</th>
						<th class="col-md-3">メールアドレス</th>
						<th class="col-md-3">ステータス</th>
						<th class="col-md-3">最終ログイン日時</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><a href="#">Tarou Yamada</a></th>
						<td>asdfghjk@gmail.com</td>
						<td>商品発送待ち</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Hanako Yamada</a></th>
						<td>qwertyui@gmail.com</td>
						<td>特になし</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Tarou Yamada</a></th>
						<td>asdfghjk@gmail.com</td>
						<td>商品発送待ち</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Hanako Yamada</a></th>
						<td>qwertyui@gmail.com</td>
						<td>特になし</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Tarou Yamada</a></th>
						<td>asdfghjk@gmail.com</td>
						<td>商品発送待ち</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Hanako Yamada</a></th>
						<td>qwertyui@gmail.com</td>
						<td>特になし</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Tarou Yamada</a></th>
						<td>asdfghjk@gmail.com</td>
						<td>商品発送待ち</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Hanako Yamada</a></th>
						<td>qwertyui@gmail.com</td>
						<td>特になし</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Tarou Yamada</a></th>
						<td>asdfghjk@gmail.com</td>
						<td>商品発送待ち</td>
						<td>****/**/** **:**:**</td>
					</tr>
					<tr>
						<th><a href="#">Hanako Yamada</a></th>
						<td>qwertyui@gmail.com</td>
						<td>特になし</td>
						<td>****/**/** **:**:**</td>
					</tr>
				</tbody>
			</table>
			<nav>
				<ul class="pagination">
					<li>
						<a href="#" aria-label="前のページへ">
							<span aria-hidden="true">«</span>
						</a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="次のページへ">
							<span aria-hidden="true">»</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="panel-footer" style="background-color: #f5f5f5;">
		</div>
	</div>