	<div class="panel panel-default container" style="background-color: #f5f5f5; margin-top: 80px;">
		<div class="panel-heading" style="background-color: #f5f5f5;">
			<h3>ユーザー情報</h3>
		</div>
		<div class="panel-body" style="background-color: white;">
			<table class="table">
				<tbody>
					<tr>
						<th class="col-md-3" style="border-top: none;">名前</th>
						<td class="col-md-9" style="border-top: none;">山田太郎</td>
					</tr>
					<tr>
						<th>フリガナ</th>
						<td>ヤマダタロウ</td>
					</tr>
					<tr>
						<th>郵便番号</th>
						<td>000-0000</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>東京都渋谷区円山町20-1 新大宗円山ビル11階</td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td>000-0000-0000</td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>asdfghjk@gmail.com</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer" style="background-color: #f5f5f5;">
		</div>
	</div>
	<div class="panel panel-default container" style="background-color: #f5f5f5;">
		<div class="panel-heading" style="background-color: #f5f5f5;">
			<h3>購入履歴</h3>
		</div>
		<div class="panel-body" style="background-color: white;">
			<table class="table">
				<tbody>
					<tr>
						<td class="col-md-3" style="border-top: none;">
							0000年00月00日<br>
							注文番号:000000-000000000<br>
							購入者:山田太郎<br>
							小計:000000円<br>
							ステータス:
							<form style="display: inline-block; width: 100px; padding: 0px;">
								<select class="form-control">
									<option>未出荷</option>
									<option>出荷済み</option>
								</select>
							</form>
							<a class="btn btn-primary" href="#" role="button">変更</a>
						</td>
						<td class="col-md-2" style="border-top: none;"><img class="img-responsive" src="img/CD-image.png" alt="" style="width: 100px;"></td>
						<td class="col-md-7" style="border-top: none;">
							アーティスト名<br>
							CDタイトル<br>
							000000円<br>
							購入個数<br>
							送付先:東京都渋谷区円山町20-1 新大宗円山ビル11階<br>
						</td>
					</tr>
					<tr>
						<td class="col-md-3" style="border-top: none;">
						</td>
						<td class="col-md-2" style="border-top: none;"><img class="img-responsive" src="img/CD-image.png" alt="" style="width: 100px;"></td>
						<td class="col-md-7" style="border-top: none;">
							アーティスト名<br>
							CDタイトル<br>
							000000円<br>
							購入個数<br>
							送付先:東京都渋谷区円山町20-1 新大宗円山ビル11階<br>
						</td>
					</tr>
					<tr>
						<td class="col-md-3">
							0000年00月00日<br>
							注文番号:000000-000000000<br>
							購入者:山田太郎<br>
							小計:000000円<br>
							ステータス:
							<form style="display: inline-block; width: 100px;">
								<select class="form-control">
									<option>未出荷</option>
									<option>出荷済み</option>
								</select>
							</form>
							<a class="btn btn-primary" href="#" role="button">変更</a>
						</td>
						<td class="col-md-2"><img class="img-responsive" src="img/CD-image.png" alt="" style="width: 100px;"></td>
						<td class="col-md-7">
							アーティスト名<br>
							CDタイトル<br>
							000000円<br>
							購入個数<br>
							送付先:東京都渋谷区円山町20-1 新大宗円山ビル11階<br>
						</td>
					</tr>
					<tr>
						<td class="col-md-3">
							0000年00月00日<br>
							注文番号:000000-000000000<br>
							購入者:山田太郎<br>
							小計:000000円<br>
							ステータス:
							<form style="display: inline-block; width: 100px;">
								<select class="form-control">
									<option>未出荷</option>
									<option>出荷済み</option>
								</select>
							</form>
							<a class="btn btn-primary" href="#" role="button">変更</a>
						</td>
						<td class="col-md-2"><img class="img-responsive" src="img/CD-image.png" alt="" style="width: 100px;"></td>
						<td class="col-md-7">
							アーティスト名<br>
							CDタイトル<br>
							000000円<br>
							購入個数<br>
							送付先:東京都渋谷区円山町20-1 新大宗円山ビル11階<br>
						</td>
					</tr>
				</tbody>
			</table>
			<nav style="text-align: center;">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="前のページへ">
							<span aria-hidden="true">«</span>
						</a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="次のページへ">
							<span aria-hidden="true">»</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="panel-footer" style="background-color: #f5f5f5;">
			<h4>購入価格総計 : 000000円</h4>
		</div>
	</div>